body {
  margin: 0 auto;
  min-width: 10em;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
  background-color: whitesmoke;
}

#mainContainer {
	width: 100%
}

#header {
	width=100%;
	height=225px;
}

h1 {
	text-align: center;
	color: midnightblue;
	font-family: "Courier New", monospace;
	font-size: 2em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

code,
pre {
  background: lightgray;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 75%;
}

#menu-outer {
	height: 84px;
	background-color: black;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

ul#horizontal-list li {
	display: inline-block;
	border: 2px solid black;
	background-color: gray;
	text-decoration: none;
	color: black;
}

